body {
    font-family: 'Share Tech', sans-serif;
    font-size: 68px;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0;
    width: 100vw;
    height: 100vh;
    /* text-shadow: 8px 8px 10px #0000008c; */
    background: linear-gradient(to bottom, #cd4bea82, #a746bd94, #3fbadca3,#48aef199); 

}

.container{
    width: 30%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    font-family: 'Protest Riot', sans-serif;
    background-color: #2abbd7c4;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6vh;
    min-height: 72vh;

}
h2{
    text-shadow: 8px 8px 10px #0000008c;
    font-family: 'Protest Riot', sans-serif;
    color: black;  
    text-align: center;
    margin-top: 4vh;
}
.form{
 width: 70%;  
}
.form input{
    border-radius: 100px; 
   }
form button{
    float: right;
}
form a{
    float: left;
}
.top-bar{
    width: 100%;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    position: fixed;
    top: 0px;
    padding: 1vh;   
    
}
.animatedBtn {
    color: white;
    height: 5vh;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.3s ease-in-out;
}

.animatedBtn:hover {
    transform: scale(1.1);
}
#errorBox{
    width: 30%;
    height: 6vh;
}
