/* @import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
} */

body {
  font-family: Arial, sans-serif;
  font-size: 68px;
  /* color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100vw;
  height: 100vh;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: linear-gradient(to bottom, #cd4bea82, #a746bd94, #3fbadca3, #48aef199);
}
.top-bar{
  width: 100%;
  display: flex;
  justify-content:flex-end;
  align-items: center;
  position: fixed;
  top: 0px;
  padding: 1vh;   
  
}
/* .container { */
  /* background: linear-gradient(to bottom, #cd4bea82, #a746bd94, #3fbadca3,#48aef199); 
    color: white; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  /* border-radius: 50px;
  text-align: center;
} */

.searchButton {
  animation: bounceIn 1s ease-in-out infinite;
}

@keyframes bounceIn {

  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translateY(0);
  }

  40% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translateY(-30px);
  }

  60% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translateY(-15px);
  }

  80% {
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translateY(-4px);
  }
}
h2 {
  margin-bottom: 9vh;
  text-shadow: 8px 8px 10px #0000008c;
  font-family: 'Protest Riot', sans-serif;
  /* text-align: center; */
  font-size: 70px;
  font-weight: 600;
  color: rgb(231 217 43);
}
h1.display-5 {
  margin-top: 0; /* or any desired value */
}

h1 {
  margin-top: 6vh;
  text-shadow: 8px 8px 10px #0000008c;
  color: rgb(231 217 43);
  font-family: 'Protest Riot', sans-serif;
  /* margin-bottom: 5vh; */
}


.customTextCss{
  /* background-image:conic-gradient(#553c9a 0%, #553c9a 33%, #ee4b2b 33%, #ee4b2b 66%, #00c2cb 66%, #00c2cb 99%); */
  background-image:conic-gradient(#f9f8fc 0%, #000000 33%, #ee4b2b 33%, #ee4b2b 66%, #000000 66%, #00c2cb 99%);
  color: #000000;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

h6,
p {
  /* font-family: 'Playfair Display', serif;
   */
   font-family: 'Protest Riot', sans-serif;
  /* text-shadow: 8px 8px 10px #0000008c; */
  /* color: #cd4bea82; */
  color: rgb(12, 12, 11);

}

span {
  color: red;
}

.btn{
  background-color: #00ff3ecc;
}
.animatedBtn {
  margin-top: 6vh;
  transition: transform 0.3s ease-in-out;
  background-color: #00ff3ecc;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 100px;
    padding: 0.5rem 1rem
}

.animatedBtn:hover {
  color: #00c2cb;
  text-decoration: none;
}