<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Candidates Detail Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,800;1,700&family=Single+Day&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/3c0fd946df.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/search.css}">
</head>

<body>
    <div class="top-bar">
        <!-- <h2 class="text-center">Candidates Detail Page</h2> -->
        <a class="btn btn-primary mb-3 animatedBtn hasShadow addButtonHeight" onclick="conformLogout()"> <i
                class="fa-solid fa-right-from-bracket"></i></a>
    </div>

    <div class="container">
        <div class="row search-button-container">
            <div class="col-md-3">
                <a th:href="@{/addNewCandidateForm}" class="btn mb-3 animatedBtn hasShadow otherButtons"
                    style="margin-right: 0.5vh;margin-top: 0.5vh;"> Add New Candidates <i
                        class="fa-solid fa-arrow-right"></i></a>
            </div>
            <div>
                <div>
                    <div class="input-group mb-3 py-3">
                        <div class="buttons-search-container">
                            <div class="search-refresh-container">
                                <input type="text" id="searchInput" class="form-control"
                                    placeholder="Enter search criteria" onkeyup="searchCandidates()" />
                                <button type="button" class="btn ml-3 animatedBtn hasShadow addButtonHeight otherButtons"
                                    onclick="refreshTable()">Refresh</button>
                            </div>
                            <a href="/" class="btn btn mb-4 mt-2 animatedBtn hasShadow otherButtons addButtonHeight"><i
                                    class="fa-solid fa-arrow-left" style="margin-right: 0.5vh;"></i> Go to Home Page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-container">
            <table class="table table-striped table-responsive-md p-3">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Age</th>
                        <th>Designation</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="candidate : ${candidates}">
                        <td th:text="${candidate.id}"></td>
                        <td th:text="${candidate.name}"></td>
                        <td th:text="${candidate.email}"></td>
                        <td th:text="${candidate.age}"></td>
                        <td th:text="${candidate.designation}"></td>

                        <td>
                            <a th:href="@{/updateCandidateForm/{id}(id=${candidate.id})}"
                                class="btn btn-primary animatedBtn mr-2 hasShadow">Edit</a>
                            <a th:href="@{/deleteCandidate/{id}(id=${candidate.id})}"
                                class="btn btn-danger animatedBtn hasShadow">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <a href="/" class="btn btn-secondary mb-4 mt-2 animatedBtn hasShadow">&lt;-  Go to Home Page</a> -->
    </div>

    </div>


    <!-- =======================================  Scripts ============================================ -->

    <script th:inline="javascript">
        function searchCandidates() {
            var searchText = document.getElementById('searchInput').value.toLowerCase();
            var rows = document.querySelectorAll('tbody tr');

            rows.forEach(function (row) {
                var found = false;
                row.childNodes.forEach(cell => {
                    if (cell.textContent.toLowerCase().includes(searchText)) {
                        found = true;
                    }
                });

                if (found) {
                    row.style.display = row;
                } else {
                    row.style.display = 'none';
                }
            });
        }

        function refreshTable() {
            document.getElementById('searchInput').value = '';
            var rows = document.querySelectorAll('tbody tr');
            rows.forEach(row => {
                row.style.display = '';
            })
        }

        function conformLogout() {
            Swal.fire({
                title: 'Do you want to logout?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'Cancel',
            }).then((result) => {
                if (result.value === true) {
                    localStorage.removeItem('adminDetails');
                    window.location.href = '/logout';
                }
            })

        }
    </script>

    <!-- ============================================================================================== -->

</body>

</html>